# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production builds
.next/
out/
build/
dist/

# Debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing coverage
coverage/

# OS and editor files
.DS_Store
*.pem
.vscode/
.idea/

# Retain existing .docs if present
.docs